<div class="alert alert-dark">
  <p>
    <strong>Comment: </strong>
    <%= comment.body %>    
  </p>
  
  <p class="text-muted">
    <strong>by </strong>
    <%= comment.commenter %>    
  </p>

  <%= link_to 'Delete', 
    [
      comment.article,
      comment
    ], 
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
</div>